@charset "utf-8";
/* CSS Document */
.box {
    width: 700px;
    height: 350px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 40px;
    margin-left: 60px;
	margin: left;
	position: absolute;
}

.box-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.box-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

/* 显示第一张图片 */
.box-img img:first-child {
    opacity: 1;
}

/* 左按钮 */
.box-left {
    position: absolute;
    left: 0;
    width: 30px;
    height: 70px;
    color: #ccc;
    top: 130px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    line-height: 70px;
    font-size: 27px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.box-left:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 右按钮 */
.box-right {
    position: absolute;
    right: 0;
    width: 30px;
    height: 70px;
    color: #ccc;
    top: 130px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    line-height: 70px;
    font-size: 27px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.box-right:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 小圆点 */
.box-zhiding {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.box-zhiding ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.box-zhiding li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.box-zhiding li.active {
    background-color: #fff;
}
