@charset "utf-8";
/* CSS Document */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
    }
    .container {
      width:1365px;
      margin: auto;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		margin-top: 100px;
    }
    .title {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
      text-align: center;
		margin-top: 20px;
    }
    .info {
      font-size: 14px;
      color: #999;
      margin-bottom: 10px;
      text-align: center;
    }
    .content {
      font-size: 16px;
      line-height: 1.6;
      color: #333;
    }
    .content p {
		width: 1000px;
		margin: 0 auto 0px auto;
		line-height: 40px; 
		text-indent: 2em;
    }
    .content  h3 {
		width: 1000px;
		margin: 0 auto 0px auto;
		line-height: 40px; 
		text-indent: 2em;
		font-weight: bold;
		font-size: 20px;
    }
   .inout{
      font-size: 14px;
      color: #999;
      margin-bottom: 10px;
      text-align: left;
	   margin-left: 180px;
	   margin-top: 20px;
    }
   .content p img{
		width: 500px;
	   height: auto;
	  display: block;
	margin: 20px auto 20px auto;
    }