/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

main {
    justify-content: center;
    align-items: center;
	float: none;
    height: calc(110vh - 450px);
margin-left: 500px;
margin-top: 60px;}


.login-box {
    display: flex;
    width: 500px;
	height: 280px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
		align-items: center;
	justify-content: center;
}

.login-form {
    width: 300px;
    padding: 10px;

}
.login-form h2 {
    font-size: 18px;
    color: #b50d00;
    margin-bottom: 10px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
	width: 600px;
}

.login-form input {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #b50d00;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #a00c00;
}
.form-container{
	    width: 300px;
    padding: 10px;
}
.form-container h2 {
    font-size: 18px;
    color: #b50d00;
    margin-bottom: 10px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
	width: 600px;
}
.form-container input {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #b50d00;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #a00c00;
}
    .toggle-link {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
    .register-form {
		display: none; }/* 默认隐藏注册表单 */